# DB 접속 정보 적는 법 예시 파일
# 개인 DB 접속시 /.env 파일을 아래 양식과 같이 변경하여 사용
# user에 id, password에 비밀번호 입력. 
# 각각의 값은 docker-compose.yml 파일에 있는 값과 동일해야 함.

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=dangretel_db
POSTGRES_PORT=5432
