# .env 입력 예시 파일
# 아래와 같은 형식으로 /backend/.env 파일을 (생성/변경)하여 사용
PORT=3000 # Render 에서 제공하는 주소 사용

# Render에서 받아온 DB 주소 사용
DATABASE_URL=postgresql://admin:pw1234@localhost:5432/dangretel_db # 팀원들은 external DB 주소로 연결 필요(Render에서 제공하는 주소)

MAIL_HOST=smtp.gmail.com # 실제 메일 서버 호스트 주소 (예: Gmail의 경우 smtp.gmail.com) -> 고정
MAIL_PORT=587 # 실제 메일 서버 포트 (예: Gmail의 경우 587) -> 고정
MAIL_USER= admin  # 자기 아이디나 이름 -> 수정 필요
MAIL_PASS= 1234 # 자기 비번 설정      ->수정 필요
MAIL_FROM=id@dankook.ac.kr # 실제 메일을 전송 받을 자기 이메일 주소 -> 수정 필요

VERIFICATION_CODE_TTL_MINUTES=5
VERIFICATION_MAX_ATTEMPTS=3