# .env 입력 예시 파일
# 아래와 같은 형식으로 /backend/.env 파일을 (생성/변경)하여 사용
# Render에서 받아온 DB 주소
DATABASE_URL=postgresql://admin:pw1234@localhost:5432/dangretel_db # 팀원들은 external DB 주소로 연결 필요(Render에서 제공하는 주소)

# [로컬 서버 실행시] ipconfig 명령어로 확인한 자신의 IPv4 주소 BASE_URL 입력- 개인은 로컬로 디버깅하기.
# [원격 서버 실행시] Render에서는 Render에서 제공하는 주소로 연결 필요
BASE_URL=0.0.0.0 
PORT = 10000 # 원격 서버 실행 시 3000, 로컬 서버 실행 시 3000

# 이메일 설정 (사용자 DB-이메일 연결이 미완성임으로 등록해도 이메일 인증 실행 안 됨)
MAIL_HOST=smtp.gmail.com # 실제 메일 서버 호스트 주소 (예: Gmail의 경우 smtp.gmail.com) -> 고정
MAIL_PORT=587 # 실제 메일 서버 포트 (예: Gmail의 경우 587) -> 고정
MAIL_USER= admin  # 자기 아이디나 이름 -> 수정 필요
MAIL_PASS= 1234 # 자기 비번 설정      ->수정 필요(구글 설정>2단계 인증 켜기 + 설정> 앱 비밀번호> 발급 후 사용)
MAIL_FROM=id@dankook.ac.kr # 실제 메일을 전송 받을 자기 이메일 주소 -> 수정 필요

VERIFICATION_CODE_TTL_MINUTES=5
VERIFICATION_MAX_ATTEMPTS=3

# TMAP API 키 (Render에서는 환경변수로 설정 필요)
TMAP_API_KEY=your_tmap_openapi_app_key
SEARCH_TIMEOUT_MS=5000
SEARCH_COUNT=20
